<h1><%= "Welcome Back, #{@user.fname}" %></h1>
<%= link_to "Logout", logout_path %>
<%= link_to "Create new post", new_user_post_path(@user) %>

<h2>All Posts</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Project URL</th>
    <th>Blog URL</th>
    <th>Category</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.project_url %></td>
      <td><%= post.blog_url %></td>
      <td><%= post.category %></td>
      <td><%= link_to "Edit", edit_user_post_path(@user, post) %></td>
      <td><%= link_to "Delete", user_post_path(@user, post),
              method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
