<h1>Edit Post</h1>

<%= render partial:"error" %>

<%= form_for @post, url: user_post_path do |f| %>
  <p>
    <%= f.text_field :title, placeholder: "title" %><br>
    <%= f.text_field :description, placeholder: "description" %><br>
    <%= f.text_field :project_url, placeholder: "link to project" %><br>
    <%= f.text_field :blog_url, placeholder: "link to blog" %><br>
    <%= f.text_field :category, placeholder: "category" %><br>
  </p>
  <p>
    <%= f.submit "Update Post" %>
  </p>
<% end %>

<%= link_to "<< Back", user_path(@user) %>
